@page "/"

<PageTitle>Star Wars App</PageTitle>

<h1>Star Wars App</h1>

<p>This application allows you to browse data obtained from the StarWarsApi.</p>
<p>The front end might not be the most pretty, but I hope you can appreciate the backend.</p>
<p>Thanks for checking out my application!</p>

<h2>Created By:</h2>

<p>Daniel Aguirre </p>
<p>Discord: RedRain#6970</p>
